<div class="event-header">

<h1 ng-model="eventController" class='fancy-title'>We're getting hitched.</h1>


	<div class="fader-container">
		<div class="days-title"><h2>{{ days_date }} days away.</h2></div>

		<div class="hours-title"><h2>{{ hours_date }} hours away.</h2></div>	

		<div class="minutes title"><h2>{{ minutes_date }} minutes away.</h2></div>


		<div class="seconds-title"><h2>{{ seconds_date }} seconds away.</h2></div>
		
		</div>
		<br>
		<button class="btn-submit" id="learn-more-event">Learn More</button>
	</div>


<div class="event-section" id="event-1">

 <!-- <div class="jumbotron event-1-header">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div> -->

< <div class="container row-container">
      <!-- Example row of columns -->
      <div class="row icon-row">
        <div class="col-md-4">
          <img src="../img/yosemite-icon.png" alt="" id="yosemite-icon-1">
          <h4 class="fancy-title">Yosemite Valley</h3>
          <p>The ceremony and reception will be held on <b>April 11th, 2015</b> at Yosemite National Park. The Ceremony will be at the Lower Falls and the reception will be held at the Yosemite Lodge. Click below for details. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
           <img src="../img/registery-icon.png" alt="" id="yosemite-icon-1">
          <h4 class="fancy-title">Gift Registery</h3>
          <p>We appreciate any and all wedding gifts! To hopefully make everything less stressful for you, we've outlined a few specific things we actually need. Click below for a detailed list. </p><br>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <img src="../img/contact-icon.png" alt="" id="yosemite-icon-1">
          <h4 class="fancy-title">Contact Us</h3>
          <p>If you have any questions or concerns about any aspect of the wedding, please make sure to reach out to us so we can try and resolve them! Click below to get in contact with us.</p>
          <br>
          <p><a class="btn btn-default" href="#/contact" role="button">View details &raquo;</a></p>
        </div>
      </div>

</div>
