<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Brandon & Teri's Wedding</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>

    <!-- fonts! -->

    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>


    <!-- Jquery -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Latest compiled and minified Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="stylesheets/main.css">


</head>

<body>

 <nav class="fixed navigation" ng-controller="homeCtrl">

        <ul class="nav-section-small right">
            <a href="" ng-click="gotoAnchor(3)">Registry</a>
        </ul>

        <ul class="nav-section-small right">
            <a href="" ng-click="gotoAnchor(2)">RSVP</a>
        </ul>

    </nav>

    <!-- Fixed navbar -->


    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

    <div class='content-container' ng-view></div>



    <script async src="bower_components/angular/angular.js"></script>
    <script async src="bower_components/angular-route/angular-route.js"></script>
    <script async src="app.js"></script>
    <script async src="view1/view1.js"></script>
    <script async src="view2/view2.js"></script>
    <script async src="home/home.js"></script>
    <script async src="components/version/version.js"></script>
    <script async src="components/version/version-directive.js"></script>
    <script async src="components/version/interpolate-filter.js"></script>
    <!-- AngularFire -->
    <script async src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
    <!-- Firebase -->
    <script async src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    
</body>

</html>
