<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <!-- FONTS! -->
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="stylesheets/main.css">

    <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]-->
</head>


<body>

    <div class="page-wrapper">


        <nav class="navbar">
            <div class="nav-logo">
                <img src="./img/heart.png" alt="">
            </div>

            <div class="nav-menu-toggle">
                <span class="nav-menu-toggle-bar"></span>
                <span class="nav-menu-toggle-bar"></span>
                <span class="nav-menu-toggle-bar"></span>
            </div>

            <ul class='nav-list'>
                <li class="nav-item"><a href="#section-1">Details</a>
                </li>
                <li class="nav-item"><a href="#section-2">RSVP</a>
                </li>
                <li class="nav-item"><a href="#section-3">Registry</a>
                </li>
            </ul>
        </nav>


        <div class="content-wrapper">

            <div class="content-section header wedding-bg" id='section-1'>
                <div class="content-section-title header-title bottom">
                    <h1 class='title fancy-title'>We're tying the knot!</h1>
                    <p>On April 11th, 2015 Brandon Dail and Teri Yesh will be getting married at Yosemite National Park!</p>
                </div>
            </div>

            <!-- end header div -->



            <div class="content-section main-section">

                <div class="grid-container">
                    <div class="grid-row">
                        <div class="col-12 col-md-4">
                            <img src="./img/registery-icon.png" alt="">
                            <p class='img-caption'>While any and all gifts would be appreciated, we've outined a few specifics on what we feel we would benefit most from.</p>
                        </div>
                        <div class="col-6 col-md-4">
                            <img src="./img/yosemite-icon.png" alt="">
                            <p class='img-caption'>The ceremony and reception will be held on <b>April 11th, 2015</b> at Yosemite National Park. The Ceremony will be at the Lower Falls and the reception will be held at the Yosemite Lodge. Click below for details.</p>
                        </div>

                        <div class="col-6 col-md-4">
                            <img src="./img/contact-icon.png" alt="">
                            <p class='img-caption'>Please RSVP! In order for us to properly plan our ceremony and reception we need to know exactly how many people will be attending. Please RSVP by January 1st, 2015.</p>
                        </div>

                    </div>


                </div>
            </div>

            <!-- end section-1 div -->

            <div class="content-section main-section" id='section-2' ng-app='rsvpApp' ng-controller="rsvpController">
                <div class="content-section-title main-section-title blue-bg">
                    <h1 class='title fancy-title center' ng-bind='rsvpTitle'></h1>
                </div>

                <div class="grid-container">
                    <div class="grid-row rsvp-row">
                        <div class="col-12 col-md-5 col-center rsvp-details">
                            <h2>Thanks for coming!</h2>
                            
                           <p>So we can be 100% sure that we plan for the right headcount, please use this form to RSVP as soon as you can. This way we can properly accomdate and prepare. If you have any special requests or notes, please ask them in the 'Special notes' seciton on the form.</p>
                            <br>
                            <p>If for some reason you are having issues with the form, or you'd like to ask some questions before RSVP'ing, please feel free to email us at <a href="mailto:rsvp@dailwedding.info">rsvp@dailwedding.info</a>
                            </p>

                            <br>
                            <h2 class='status-{{rsvpStatus}}' ng-bind='messages.rsvpStatus'></h2>
                        </div>
                        <div class="col-12 col-md-7 rsvp-form">
                            <div class="form-container">
                                <form id="rsvpForm" ng-submit="addRSVP(attende)">
                                    <label for="attende-firstname">
                                        <h4>First name:</h4>
                                    </label>
                                    <input type="text" id="attende-firstname" ng-model="attende.firstname">
                                    <label for="attende-lastname">
                                        <h4>Last name:</h4>
                                    </label>
                                    <input type="text" id="attende-lastname" ng-model="attende.lastname">
                                    <label for="attende-email">
                                        <h4>Email:</h4>
                                    </label>
                                    <input type="email" id="attende-email" ng-model="attende.email">
                                    <label for="attende-notes">
                                        <h4>Special Notes:</h4>
                                    </label>
                                    <textarea id="attende-notes" ng-model="attende.notes"></textarea>
                                    <br>
                                    <input type="submit" form="rsvpForm" value="Submit" class='btn btn-success'>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end grid-container -->
            </div>

            <!-- end secion-2 div -->


            <div class="content-section main-section" id="section-3">
                <div class="content-section-title main-section-title green-bg">
                    <h1 class='title fancy-title center'>Registry & Gifts</h1>
                </div>

                <div class="grid-container">
                    <div class="grid-row">
                        <div class="col-8 col-md-7 registry-details">

                            <h1 class="title fancy-title">Funding our life together</h1>

                            <p>While we will appreciate any and all gifts, we wanted to take a few moments to outline what we feel would be most useful to us. Over the years we've gathered the various basic household accessories and appliances that are--traditionally--gifted at a wedding.
                            </p>
                            <p>The main thing that we need, at the moment, are basic funds. We really want to be able to travel and experience all there is out there, so if you are considering gifts, a monetary gift would be best for us, so we can do things like: 

                            	<ul>
                            		<li>Pay for our wedding</li>
                            		<li>Fund our honeymoon</li>
                            		<li>Go hiking in as many National Parks as possible!</li>
                            		<li>Start building up our savings</li>
                            	</ul>
                            </p>

                        </div>

                        <div class="col-4 col-md-5">
                            <img src="./img/gifts-icon.png" alt="" id="gifts-icon">
                        </div>
                    </div>
                </div>
                <!-- end grid-container -->
            </div>

            <!-- end section-3 div -->


            <div class="content-section main-section" id="section-4">
                <div class="content-section-title main-section-title yosemite-cover-bg">
                    <h1 class='title fancy-title center'>Event Details</h1>
                </div>

                <div class="grid-container">
                    <div class="grid-row">
                                                 <h1 class="title">Getting to Yosemite</h1>
                            <br>  


                            <p>The ceremony itself will be held at the Yosemite Lower Falls, which is on a paved trail near <a href="http://www.yosemitepark.com/yosemite-lodge.aspx">Yosemite Lodge at the Falls</a>. The reception will be help at Yosemite Lodge itself.</p>

                            The address is:
                            <br>

                            <span style="color: #555; text-align: center;">
                            Yosemite Lodge at the Falls <br>
                            9006 Yosemite Lodge Dr. <br>
                            Yosemite National Park, CA 95389 <br>
                            801-559-4884</span>






                        </div>

                        <div class="col-6 col-md-6">
                            <h1 class="title">Lodging</h1>
                                <br>

                                <p>
                                    There are numerous lodges within Yosemite itself that may be availabe to stay. 

                                    Please visit <a href="http://www.yosemitepark.com/lodging.aspx">Yosemite Park's loding website</a> for more information on the hotels within the park.
                                </p>

                                  <p>The nearest town would be Mariposa, which will likely have more availability and lower prices. If you do not want to stay within the park, we recommend staying in Mariposa.
                                <br>
                                 There are<a href="http://www.kayak.com/hotels/Mariposa,CA-c14772/2015-04-10/2015-04-12"> numerous options available</a> but we recommend booking sooner than later.</p>








                        </div>
                    </div>

                </div>
                <!-- end grid-container -->
            </div>

            <!-- end section-4 div -->
        </div>
    </div>



    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>

    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Main JS -->
    <script src="main.js"></script>
</body>

</html>
