



/*## TABLE OF CONTENTS ##

Wedding website, created by Brandon Dail for Brandon Dail & Teri Yesh

Copyright Brandon Dail, 2014

Normalized with normalize.css



# 1: GLOBAL 
# 2: CONTAINER
# 3: NAVIGATION 
# 4. HEADER
# 5: SECTION(S)
# 6: BUTTONS / FIELDS
# 7: KEYFRAMES + ANIMATION CLASSES
# 8: MEDIA QUERIES
*/































/*# # # SECTION 1: GLOBAL! # # # 
	attributes used across all pages and sections*/



*{

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Roboto, serif;
	font-weight: 100;
}


html, 
body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px;

}


h1{
	
	font-family: Satisfy, serif;
	color: #fff;
	font-size: 8rem;s

}




p {
	font-size: 100%;
}























/*# # # SECTION 2: CONTAINER; # # # */

#wrapper {
	
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	height: 2000px;
	background-size: cover;
	background-attachment: fixed;


}


#main_container {
	max-width: 1400px;
	height: 2000px;
	margin: 0px auto;
	background: rgba(0, 0, 0, 0);
	position: relative;

}





























/*# # # SECTION 3: NAVIGATION; # # # */

#nav_container{
	position: fixed;
	height: 70px;
	top: -90px;
	width: 100%;
	background: #333;
	overflow: hidden;
	text-align: center;
	padding: 0px;
}


#nav_list {
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}


.nav_item {
	display: inline-block;
	margin: 0px auto;
}

.nav_item_link{

	display: block;
	padding: 1em;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.1em;
	font-variant: small-caps;
	margin-right: 2em;
	margin-top: 0.2em;
	width: 6em;
	color: white;
	text-decoration: none;
}

.nav_item_link:hover{
	background: #555;
}

/*icon container*/

#menu_button{
    width: 45px;
    height: 45px;
    position: fixed;
    background: rgba(0, 0, 0, 0);
    top: 20px;
    right: 35px;
    z-index: 3;
}
/*class applied to create the lines*/

.m_nav_ham {
    width: 35px;
    height: 5px;
    background: #fff;
    margin: 5px auto;
}

.button_open {
    background: #333;
   -webkit-transform: rotate(45deg);
}
.button_closed {}































/*# # # SECTION 4: HEADER; # # # */


#header_container{
	float: left;
	width: 100%;
	height: 1000px;
	margin-top: 0px;
/*	background: lightblue;*/
	background-image: url('../img/yosemite_1.png');
	background-size: cover;
	background-attachment: fixed;
	text-align: center;

}


#header_title {
	color: #eee;
	margin-top: 300px;
	text-shadow: 2px 4px 1px rgba(0, 0, 0, 0.3);
/*	background: rgba(0, 0, 0, 0.3);*/
}


/*About section*/


#about{
	float: left;
	width: 100%;
	height: 700px;
	background: #f1c8cb;
		border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	  perspective: 1000px;
	  -webkit-perspective: 1000px;
}

#shape {
	
	margin: 100px auto;
	width: 200px;
	height: 200px;
	background: #333;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: visible;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-ms-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;


}


.rotate_animation {
-webkit-transform: rotatex(360deg);
width: 100% !important;
height: 700px !important;
margin-top: 0px !important;

}



























/*# # # SECTION 7: KEYFRAMES + ANIMATION CLASSES # # # */



/*Various animation classes, modulized by speed and timing function*/
.animate_slow_ease-in-out{

	webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-ms-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;

}

.animate_med_ease-in-out{

	webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-ms-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;

}

.animate_fast_ease-in-out{

	webkit-transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-ms-transition-duration: 0.25s;
	transition-duration: 0.25s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-ms-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;

}



/*Hamburger navigation icon open/close animation for mobile site*/




.m_nav_ham_1_open {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 15px;
}

.m_nav_ham_2_open {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -10px;
}

.m_nav_ham_3_open {
    opacity: 0;
}




/*Animation for toggling the navigation bar*/

.expanded_nav {
	-webkit-transform: translate3d(0px, 90px, 0px);
	-moz-transform: translate3d(0px, 90px, 0px);
	-ms-transform: translate3d(0px, 90px, 0px);
	-o-transform: translate3d(0px, 90px, 0px);
	-webkit-transform: translate3d(0px, 90px, 0px);

}




































@media screen and (max-width: 740px){




}













