



/*## TABLE OF CONTENTS ##

Wedding website, created by Brandon Dail for Brandon Dail & Teri Yesh

Copyright Brandon Dail, 2014

Normalized with normalize.css



# 1: GLOBAL 
# 2: CONTAINER
# 3: NAVIGATION 
# 4. HEADER
# 5: SECTION(S)
# 6: BUTTONS / FIELDS
# 7: KEYFRAMES + ANIMATION CLASSES
# 8: MEDIA QUERIES
*/































/*# # # SECTION 1: GLOBAL! # # # 
	attributes used across all pages and sections*/



*{

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Open Sans Condensed', serif;
	font-weight: 100;
}



h1{
	
	font-family: Satisfy, serif;
	color: #fff;
	font-size: 8rem;

}




p {
	font-size: 100%;
}























/*# # # SECTION 2: CONTAINER; # # # */

#wrapper {
	
/*	position: absolute;
*/	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: auto;


}


#main_container {
	max-width: 1400px;
	height: 2000px;
	margin: 0px auto;
	background: rgba(0, 0, 0, 0);
	position: relative;

}





























/*# # # SECTION 3: NAVIGATION; # # # */

#nav_container{
	position: fixed;
	height: 70px;
	top: -90px;
	width: 100%;
	background: #333;
	overflow: hidden;
	text-align: center;
	padding: 0px;
	z-index: 10;
}


#nav_list {
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}


.nav_item {
	display: inline-block;
	margin: 0px auto;
}

.nav_item_link{

	display: block;
	padding: 1em;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.1em;
	font-variant: small-caps;
	margin-right: 2em;
	margin-top: 0.2em;
	width: 6em;
	color: white;
	text-decoration: none;
}

.nav_item_link:hover{
	background: #555;
	border-radius: 10px;
}

/*icon container*/

#menu_button{
    width: 45px;
    height: 45px;
    position: fixed;
    background: rgba(0, 0, 0, 0);
    top: 20px;
    right: 35px;
    z-index: 15;
}
/*class applied to create the lines*/

.m_nav_ham {
    width: 35px;
    height: 5px;
    background: #333;
    margin: 5px auto;
}

.button_open {
    background: #333;
   -webkit-transform: rotate(45deg);
}
.button_closed {}































/*# # # SECTION 4: HEADER; # # # */


#header_container{
	float: left;
	width: 100%;
	height: 1200px;
	margin-top: 0px;
	background-image: url('../img/yosemite_lo-res.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
/*	background: #d5eef3;*/
	text-align: center;

}



#header_title {
	padding: 10px;
	color: #333;
	margin-top: 300px;
	text-shadow: 6px 4px 0px rgba(160, 160, 160, 0.7);
	background: rgba(0, 0, 0, 0.02);

}



#circle_container { 
  width: 350px;
  height: 350px;
  position: relative;
  margin: 0px auto;
  perspective: 800px;
}


#circle {
  margin: 0px auto;
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: 0%, 0%, 0%;
}

.circle_face {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
}



#circle_front {
	
	background: #fff;

}


#circle_back {

	background: #333;
	-webkit-transform: rotateY( 180deg );
}

#header_circle_div h2 {
	font-size: 2em;
	padding-top: 80px;

}

#header_circle_div h3 {
	font-size: 1.3em;
	opacity: 0.7;
	margin: 0px;
	padding: 0px;

}

#heart {
	font-size: 1.3em;
	color: tomato;
}























/*# # # SECTION 5: SECTION(S); # # # */


.main_section

{
	position: relative;
	float: left;
/*	clear: left;*/
	width: 100%;
	height: 1100px;
	background: #f1c8cb;
	text-align: center;
}

/* - - - - - - - - - - - - - - - - - - -  /

	#LOCATION_DIV

/* - - - - - - - - - - - - - - - - - - -  */

#location {
	
	background: #fff;
}

#location_title {
	color: #333;
	margin-bottom: 0.3em !important;

}


/* - - - - - - - - - - - - - - - - - - -  /

	#SUB_SECTION(S) FOR LOCATION DIV

/* - - - - - - - - - - - - - - - - - - -  */


.location_sub_section

{
	margin-top: 0px;

}

#location_right {

	text-align: justify;
	float: right;
	font-style: 1.2em;
	right: 30px;
	padding-bottom: 50px;
	padding-right: 50px;
}

#location_left {

	text-align: justify;
	float: left;
	font-style: 1.2em;
	margin-right: 20px;
	height: 600px;
}

#location_left img {

	width: 560px;
	margin-left: 110px;
}
























/*# # # SECTION 7: KEYFRAMES + ANIMATION CLASSES # # # */



/*Various animation classes, modulized by speed and timing function*/
.animate_slow_ease-in-out{

	webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-ms-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;

}

.animate_med_ease-in-out{

	webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-ms-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;

}

.animate_fast_ease-in-out{

	webkit-transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-ms-transition-duration: 0.25s;
	transition-duration: 0.25s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-ms-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;

}



/*Hamburger navigation icon open/close animation for mobile site*/




.m_nav_ham_1_open {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 15px;
}

.m_nav_ham_2_open {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -10px;
}

.m_nav_ham_3_open {
    opacity: 0;
}

.button_open {
	background: #fff;
}




/*Animation for toggling the navigation bar*/

.expanded_nav {
	-webkit-transform: translate3d(0px, 90px, 0px);
	-moz-transform: translate3d(0px, 90px, 0px);
	-ms-transform: translate3d(0px, 90px, 0px);
	-o-transform: translate3d(0px, 90px, 0px);
	-webkit-transform: translate3d(0px, 90px, 0px);

}

.rotate {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);

}



































@media screen and (max-width: 740px){




}













