<div class="container-fluid full-width" ng-controller="homeCtrl">


    <div class="event-header event-bg">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <h1 class='fancy-title main-title white'>We're tying the knot!</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="event-section" id="event-1">

        <div class="container-fluid row-container">
            <!-- Example row of columns -->
            <div class="row icon-row">
                <div class="col-md-4">
                    <img src="./img/contact-icon.png" alt="" class="event-icons" id="contact-icon">
                    <h4 class="fancy-title">RSVP!</h3>
                        <p>The sooner the better: so that we can plan for food and table arrangements accordingly, please RSVP as soon as you.</p>
                        <br>
                        <p><a class="btn btn-success " href="" role="button" ng-click="gotoAnchor(2)">View details &raquo;</a>
                        </p>
                </div>

                <div class="col-md-4">
                    <img src="./img/yosemite-icon.png" alt="" class="event-icons" id="yosemite-icon">
                    <h4 class="fancy-title">Yosemite Valley</h3>
                        <p>The ceremony and reception will be held on <b>April 11th, 2015</b> at Yosemite National Park. The Ceremony will be at the Lower Falls and the reception will be held at the Yosemite Lodge. Click below for details.</p>

                </div>

                <div class="col-md-4">
                    <img src="./img/registery-icon.png" alt="" class="event-icons" id="registry-icon">
                    <h4 class="fancy-title">Gift Registery</h3>
                        <p>We appreciate any and all wedding gifts! To hopefully make everything less stressful for you, we've outlined a few specific things we actually need. Click below for a detailed list.</p>
                        <br>
                        <p><a class="btn btn-success" href="" role="button" ng-click="gotoAnchor(3)">View details &raquo;</a>
                        </p>
                </div>

            </div>

        </div>

    </div>

    <div class="event-section anchor" id="event-2">

        <div class="container-fluid row-container">

            <div class="bottom-section">
                <div class="vh-center">
                    <h1 class='fancy-title white secondary-title rsvp-title'>{{texts.rsvp_title}}</h1>
                    <h7 class='white rsvp-subtitle'>{{texts.rsvp_subtitle}}</h7>
                </div>
            </div>


            <div class="row center">
                <div class="col-xs-12 col-md-12">
                    <h6 class='alert-text'>{{message}}
                        <h6>
                </div>
            </div>
            <div class="row">
                <div class="form-container">


                    <form role="form" ng-model="content">


                        <div class="col-xs-12 col-md-6">
                            <p>So we can be 100% sure that we plan for the right headcount, please use this form to RSVP as soon as you can. This way we can properly accomdate and prepare. If you have any special requests or notes, please ask them in the 'Special notes' seciton on the form.</p>
                            <br>
                            <p>If for some reason you are having issues with the form, or you'd like to ask some questions before RSVP'ing, please feel free to email us at <a href="mailto:rsvp@dailwedding.info">rsvp@dailwedding.info</a>
                            </p>


                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for="attende_firstname">First name:</label>
                                <input type="text" class="form-control" id="attende_firstname" placeholder="Enter first name" ng-model="attende.firstname">
                            </div>
                            <div class="form-group">
                                <label for="attende_lastname">Last name:</label>
                                <input type="text" class="form-control" id="attende_lastname" placeholder="Enter last name" ng-model="attende.lastname">
                            </div>
                            <div class="form-group">
                                <label for="attende_email">Email address:</label>
                                <input type="email" class="form-control" id="attende_email" placeholder="Enter email" ng-model="attende.email">
                            </div>

                            <div class="form-group">
                                <label for="attende_notes">Special notes:</label>
                                <textarea class="form-control" id="attende_notes" placeholder="Enter any special notes, requests, etc." ng-model="attende.notes"></textarea>

                            </div>
                            <button type="submit" class="btn btn-submit btn-lg" ng-click="registerAttende(attende, data)">Submit</button>
                        </div>

                </div>

                </form>
            </div>
        </div>




    </div>


    <div class="event-section" id="event-3">


        <div class="container-fluid">

            <div class="bottom-section registry-bg">
                <div class="vh-center">
                    <h1 class='fancy-title black secondary-title rsvp-title'>Registry and Gifts</h1>
                    <h7 class='white rsvp-subtitle'></h7>
                </div>
            </div>
            <div class="row-container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8">
                        <p>While we will appreciate any and all gifts, we wanted to take a few moments to outline what we feel would be most useful to us. Over the years we've gathered the various basic household accessories and appliances that are--traditionally--gifted at a wedding.</p>
                        <br>
                        <p>The main thing that we need, at the moment, are basic funds. We really want to be able to travel and experience all there is out there, so if you are considering gifts, good old fashion cash would really help us out most.</p>
                        <br>

                        <p>We're mainly looking to cover costs such as:</p>
                        <ul>
                        	<li>Building up a savings accounts</li>
                        	<li>Funding our honeymoon</li>
                        	<li>Covering wedding costs</li>

                        </ul>

                        <p>Its a little awkward asking for cash, and I know it can feel like an ingenuine, impresonal gift, but just know that at this point in our lives it would be the most usful to us.</p>
                        <br>
                        <p>Thanks,</p>
                        <p><b>Brandon & Teri</b>
                        </p>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div>
</div>

</div>
