body {
    font-family: $default-font;
    @include slow-transition;
    // background-image: url('../img/swirl_pattern.png');
    // background-repeat: repeat;
}
#ng-view {
    @include fill-page;
    @include center;
}
.right {
    float: right !important;
}
.left {
    float: left !important;
}
.white {
    color: white !important;
}

.black {
    color: #333 !important;
}
.vh-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}


.content-container {
	left: 0;
	right: 0;
	margin: auto;
}