






// Define h1 - h6 scale

@for $i from 1 through 6 {
	h#{$i} {
		font-family: $default-font;
		font-size: $max-font-size - 60% * $i;
			}
}


.fancy-title {
	font-family: $fancy-font !important;

}

.main-title {

			
			font-size: 7em;

		@media screen and (max-width: 1180px) {
		    	font-size: 6em;
		  }	


		 @media screen and (max-width: 1080px) {
		    	font-size: 5em;
		  }

		  @media screen and (max-width: 980px) {
		    	font-size: 4.3em;
		  }

		  @media screen and (max-width: 880px) {
		    	font-size: 4.0em;
		  }

		    @media screen and (max-width: 780px) {
		    	font-size: 3.8em;
		  }

		  @media screen and (max-width: 680px) {
		    	font-size: 2.8;
		  }
		}

		.secondary-title {
    font-size: 4.5em;
    @media screen and (max-width: 1180px) {
        font-size: 4em;
    }
    @media screen and (max-width: 1080px) {
        font-size: 3.8em;
    }
    @media screen and (max-width: 980px) {
        font-size: 3.5em;
    }
    @media screen and (max-width: 780px) {
        font-size: 3em;
    }
    @media screen and (max-width: 680px) {
        font-size: 2.5em;
    }
}
// define paragraph format

p {
	font-family: $default-font;
	font-size: $default-font-size;
	line-height: $default-line-height;

}


.alert-text {
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	top: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
	color: tomato;
}

.center	{
	text-align: center;
}



