
@import 'mixins.scss';


// Color-variables


$primary-dark: #222;
$primary-med: #219C85;
$primary-light: #FFFCCD;

$input-bg: #f6f6f6;
$btn-submit-bg: lighten(complement($primary-dark), 10%);

// Sizing-variables

$full-width: 100%;
$half-width: $full-width / 2;


// Spacing-variables

$default-margin: 3%;
$wide-margin: $default-margin * 2;
$wider-margin: $default-margin * 4; 
$widest-margin: $default-margin * 10;

$default-horizontal-margin: 0px $default-margin 0px $default-margin;
$wide-horizontal-margin: 0px $wide-margin 0px $wide-margin;
$wider-horizontal-margin: 0px $wider-margin 0px $wider-margin;
$widest-horizontal-margin: 0px $widest-margin 0px $widest-margin;

$default-padding: 20px;

//Typogoraphy-variables
$small-font-size: 90%;
$default-font-size: 100%;
$large-font-size: 110%;
$larger-font-size: 120%;

$max-font-size: 500%;

$default-line-height: 150%;
$default-font:'Oxygen', sans-serif;

$font-color-dark: #333;
$font-color-light: #fff;
$link-color-dark: #333;
$link-color-light: #fff;

$link-hover-color-light: red;


$fancy-font:'Pacifico', cursive;





// Navigation-variables

	// varying height classes

	$navigation-height-default: 45px;
	$navigation-height-small: 30px;
	$navigation-height-large: 80px;

	// varying height classes

	$navigation-width: 100%;
	$navigation-item-width: 90px;
	$navigation-item-height:$navigation-height-default;
	
	// navigation-section classes

	

$top: top;
