

.wrap {
	@include container(12);

}


.full-page {
	width: 100vw;
	position: relative;
	padding-top: 10%;
}



.full-width-section {
	margin: 0;
	background-color: #fff;
	
	
	width: 100%;

	@include breakpoint($mamma-bear){
		
	}

	@include breakpoint($papa-bear){
		
	}
 

}

.half-width-section {

	text-align: center;

	h1 {
		margin-top: 10%;
		color: #333;
		


	}

	&:nth-child(even) {
		margin-right: gutter();
		
		
	}
	//margin: gutter();
	height: auto;

	@include span(12);

	@include breakpoint($mamma-bear){
		width: span(6);
	}
 
}


.two-thirds-width-section {
	background: #ff44ff;
	height: 500px;
	@include span(12);

		@include breakpoint($mamma-bear){
		width: span(8);
	}

}

.thirds-width-section {

	height: 700px;

	h1 {
		color: darken(#7d846e, 20%);
		font-family: 'Josefin Slab', serif;

	   }

	 p {
	 	color: #7d846e;
	 }

	padding: 5%;
	text-align: center;
	@include span(12);

	@include breakpoint($mamma-bear){
		width: span(4);
	}
}

