.page-title {
	
	@include vertical-align;
	p {
		color: white;
		font-weight: 300;
		padding-top: 5%;
		width: 60%;
		margin: 0 auto;
	}

	h1 {
		color: white;
	}

}


.footer {
	border-top: 10px solid lighten(#7d846e, 40%);
	width: 100%;
	
	height: 100px;
	background-color: #333;
	color: white;
}


.third-section-container {
		border-bottom: 10px solid lighten(#7d846e, 40%);

}