#map {

	height:600px;
	
	

}

#map-title {
	height: 10%;
	text-align: center;
}

.lodging-info {
	padding: 5%;
	background-color: complement(darken(#DB9E9E, 10%));
	text-align: center;
	color: #7d846e;;
	min-height: 200px;

	p {
		width: 80%;
		margin: 1% auto;
		color: #fff;
	}

	h1 {

				font-family: 'Josefin Slab', serif;
				padding: 2%;
				color: #fff

			}


}

.lodging-list {
	//border-right: solid 5px darken(#7d846e, 20%);
	color: #7d846e;
	background-color: #fff;
	min-height: 300px;
	//overflow: auto;

	a {
		color: complement(darken(#DB9E9E, 10%));
	}


	.phone-number {
		color: darken(#DB9E9E, 10%);
	}

	
	.hotel {
		
		text-align: left;
		width: 90%;
		height: 300px;
		border-bottom: 1px solid #ccc;
		margin: 1% auto;

			h3 {

				font-family: 'Josefin Slab', serif;
				
				margin: 5%;
				font-size: 3em;
				color: #AED1A0;

			}

			p {
				width: 85%;
				margin: 3%;
			}
	}


}