.navbar {
	z-index: 1;
	@include transform(translateY(-230px));
	background-color: #333;
    width: 100%;
    height: $navbar-height;
    position: fixed;
	top: 0px;
-webkit-box-shadow: 0px 1px 15px 0px rgba(136,136,136,1);
-moz-box-shadow: 0px 1px 15px 0px rgba(136,136,136,1);
box-shadow: 0px 1px 15px 0px rgba(136,136,136,1);


    // .navbar class media queries
    @media screen and (min-width: 880px) 

    	{	
    		@include transform(translateY(0px));
    		top: 0px;
    		height: $navbar-height / 5;
        	display: inline-block;
        	float: none;
    	}



} // end .navbar class


.nav-expanded {
    transform: translatey(0px) !important;
    -webkit-transform: translatey(0px) !important;
    -ms-transform: translatey(0px) !important;
} // end .nav-hidden class


.menu-toggle-bar-rotated-1 {
	transform: rotate(45deg) translatey(8px) translatex(2px);
	-webkit-transform: rotate(45deg) translatey(8px) translatex(2px);
	-ms-transform: rotate(45deg) translatey(8px) translatex(2px);
}

.menu-toggle-bar-rotated-2 {
	-webkit-transform: rotate(-45deg) translatey(-5px);
	-ms-transform: rotate(-45deg) translatey(-5px);
	transform: rotate(-45deg) translatey(-5px);
}



.nav-menu-toggle {
    width: $nav-menu-toggle-size;
    height: $nav-menu-toggle-size;
    position: absolute;
    bottom: 10px;
    right: 10px;
    overflow: hidden;

    &:hover {
    	transform: scale(1.1);
    	-webkit-transform: scale(1.1);
    	-ms-transform: scale(1.1);
    }

     // .nav-menu-toggle media queries
    @media screen and (min-width: 780px) 

    	{
        	
    	}

     @media screen and (min-width: 880px) 

    	{
        	display: none;
    	}


} //end nav-menu-toggle class


.nav-menu-toggle-bar {
    display: block;
    width: 80%;
    height: 5px;
    background: #666;
    margin: 6px auto;


} //end nav-menu-toggle-bar class

.nav-list {
	height: auto;
	width: 100%;
	display: none;
	float: left;
	padding: 0px;






		//.nav-list class media queries

	// @media screen and (max-width: 780px){
	// 	@include vertical-align;
	// }
	 @media screen and (min-width: 880px) 

    	{
        	display: inline-block;
    	}

      @media screen and (min-width: 1100px) 

    	{
        	float: right;
        	width: 50%;
    	}

} //end .nav-list class


.nav-item {

	font-size: 1rem;
	display: inline-block;
	height: 20%;
	width: 100%;
	padding: 5px;
	margin: auto;

	a {
		@include transition(1s);
		font-family: 'Josefin Slab', serif;
		font-weight: 700;
		text-decoration: none;
		width: 100%;
		padding: 1em;
		color: #fff;
		font-size: 1.1rem;
		display: inline-block;
		//@include vertical-align;

		&:hover {

			@include transform(scale(1.1));
			color: #00b4e5;
			}

	}

			//.nav-list class media queries
	 @media screen and (min-width: 880px) 

    	{
        	width: 20%;
        	height: 100%;

    	}

      @media screen and (min-width: 1100px) 

    	{
        	float: left;
        	margin-right: 50px;

    	}

}

.nav-logo {
	float: left;
	height: $navbar-height / 5 - 10;
	width: auto;
	margin: 0 20px;
	display: none;

	img {
		@include vertical-align;
		margin: 5px auto;
		height: $navbar-height / 5 - 30;
		width: auto;
	}

			&:hover {
			transform: rotate(0.5turn);
			-webkit-transform: rotate(0.5turn);
			-ms-transform: rotate(0.5turn);
		}

	 @media screen and (min-width: 1100px) 

    	{
			display: block;
    	}
}

	.nav-list-expanded {
		display: inline;
	}


